body {
margin: 0px;
}

.header {
	font-size: 42px;
	font-family: monospace;
	text-align: center;
	padding: 25px 10px 5px 10px;
}

.login {
	padding-top: 25px;
	width: 420px;
    margin: 0 auto;
}
.login div.label{
	display: inline-block;
	width: 85px;
}

.login input:text {
	width: 10px;	
}

.container {
	width: 100%;
}

.footer {
	position: fixed;
	bottom: 0px;	
	text-align: center;
	width: 100%;
	background-color: #DAA520;
	left: 0px;
    overflow: hidden;
	display: inline;
    z-index: 99999;
}

.title {
	display: block-inline;
	text-align: center;
	border-top:2px solid #DAA520;
	border-bottom:2px solid #DAA520;
}

.title>div {
	display: inline;
}

.sair {
    float: right;
	padding-right: 10px;
/*     overflow: hidden; 
	float: top;
	top: -5;
	position: absolute;
	display: float; */
}
.sair  a {
	color: red;
}

.menu {
	padding: 25px;
	vertical-align: top;
	border-right:2px solid #DAA520;
	display: inline-block;		
	width: 180px;
	height: 75%;
}

.content {
	width: auto;	
	display: inline-block;	
}

table thead {
	border: 0px;
	background: #DAA520;
	margin: 0px;
	padding: 0px;
}

table {
	border: none;
    border-collapse: collapse;
}
td {
    padding: 1 3 1 3;
	white-space:nowrap;
}

table tbody tr {
	background: silver;
}

table tbody tr:nth-of-type(odd) {
	background: #EEE9E9;
}

.grid {
	width: 90%;
}

.grid-date {
}

.grid-title {
}

.grid-btn {
}

.row .field {
	display: inline-block;
}

.row .field .label{
	display: inline-block;
	width: 80px;
}

.row .field .value{
	display: inline-block;
	width: 120px;
}

.msg-error {
	font-weight: 900;
	color: #f00;
}

.center {
	text-align: center;
}

input:required:invalid, input:focus:invalid {
    background-image: url(/images/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
	background: #FF6666; 
  }
input:required:valid {
background-image: url(/images/valid.png);
background-position: right top;
background-repeat: no-repeat;
}

.error {
	color: #f00;
}